* {
  box-sizing: border-box;
  font-family:cursive;
}
.etchasketch {
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: darkred;
  border-radius: 20px;
  width: max-content;
  box-shadow: 10px 10px 5px grey;
  width: 650px;
  height: 620px;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  color: darkgoldenrod;
  font-size: 80px;
  margin-top: -5px;
}
.twobytwo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: solid black 1px;
  aspect-ratio: 1 / 1;
  justify-content: stretch;
  align-items: stretch;
  background-color: white;
}


.container {
  box-sizing: content-box;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  margin-top: -50px;
} 

.buttons {
  display:flex;
  flex-direction: row;
  margin-top: 10px;
  width: 400px;
  justify-content: space-between;
}

.buttons img {
  width: 50px;
  height: auto;
  cursor: pointer;

}

.buttons div p {
  font-size: 12px;
  font-family: monospace;
  color: white;
  text-align: center;
  margin-top: -5px;
}